 <ion-view >
    <ion-content>
<div id="header" style="text-align:center;">

<span style="width:10%;float:left" ng-click="gotoemployeelist()"><i class="icon ion-chevron-left" ></i></span>

<span style="width:80%;float:left">员工信息</span>
<span style="width:10%;float:left" ng-click="addemployee()"><i class="icon ion-plus"></i></span>
</div>


<table style="width:100%;">
<tr style="width:100%;height:50px;">

<td style="width:20%;border-right:none"class="adfasd">姓名</td>
<td style="width:80%;text-align:left;" class="adfasd">{{employee.name}}</td>
</tr>

<tr style="width:100%;height:50px;">

<td style="width:20%;border-right:none"class="adfasd">工号</td>
<td style="width:80%;text-align:left;" class="adfasd">{{employee.pwId}}</td>
</tr>

<tr style="width:100%;height:50px;">

<td style="width:20%;border-right:none"class="adfasd">电话</td>
<td style="width:80%;text-align:left;" class="adfasd">{{employee.phone}}</td>
</tr>

<tr style="width:100%;height:50px;">

<td style="width:20%;border-right:none"class="adfasd">职务</td>
<td style="width:80%;text-align:left;" class="adfasd">{{employee.position}}</td>
</tr>

<tr style="width:100%;height:50px;">

<td style="width:20%;border-right:none"class="adfasd">位置</td>
<td style="width:80%;text-align:left;" class="adfasd">{{employee.location}}</td>
</tr>


</table>



	
			
		

  </ion-view >
 </ion-content>