 <ion-view >
    <ion-content>
    	<div id="header" style="text-align:center;">

<span style="width:10%;float:left" ng-click="gotobatch()"><i class="icon ion-chevron-left" ></i></span>

<span style="width:80%;float:left">考勤类型</span>
</div>

<div class="srt"  style="border:1px solid #f5f5f5;" data-ng-init="init()" ng-repeat="test in tests" ng-click="select(test.name)" >
<span style="margin-left:20px;" class="sdfa" >{{test.name}}</span>
<div>




			
			
    	
    	
  </ion-view >
 </ion-content>