 <ion-view >
    <ion-content>
<div id="header" style="text-align:center;">
<span style="width:10%;float:left" ng-click="gotohome()"><i class="icon ion-chevron-left" ></i></span>

<span style="width:80%;float:left">座位使用情况</span>
</div>
<div   class="shawn"  style="text-align:center;font-size:18px;line-height:50px;">
	  <span style="margin-left:10px;">MSD-28</span>
</div>

		<p style="width:100%;line-height:40px;font-weight:bold;" class="text-right">
<span style="margin-right:30px;">		{{date}}</span>
	</p>

<p class="text-center" >

 <span class="glyphicon glyphicon-sound-dolby"   style="color:#F70909;">
 已使用
 </span>
 <span class="glyphicon glyphicon-sound-dolby"   style="color:#808080;">
 未使用
 </span>
 <span class="glyphicon glyphicon-sound-dolby"   style="color:#00FF66;">
 选中
 </span>
</p>	
	
	<p style="width:100%;margin-top:50px;">
	<ul>
		
	
		<li>
	</li>
		<li>
	</li>
	<li class="t23">
		1
	</li>
		<li>
	</li>
		<li>
	</li>
	
		<li>
		 <span class="glyphicon glyphicon-sound-dolby" id="1"    ng-click="test(1)"></span>
	</li>
		<li>
			 <span class="glyphicon glyphicon-sound-dolby" id="2"    ng-click="test(2)"></span>
	</li>
		<li>
		 <span class="glyphicon glyphicon-sound-dolby" id="3"    ng-click="test(3)"></span>
	</li>
		<li>
		 <span class="glyphicon glyphicon-sound-dolby" id="4"    ng-click="test(4)"></span>
	</li>
	<li>
	 <span class="glyphicon glyphicon-sound-dolby" id="5"    ng-click="test(5)"></span>
	</li>
		<li>
		 <span class="glyphicon glyphicon-sound-dolby" id="6"    ng-click="test(6)"></span>
	</li>
		<li>
		 <span class="glyphicon glyphicon-sound-dolby" id="7"    ng-click="test(7)"></span>
	</li>
		<li>
		 <span class="glyphicon glyphicon-sound-dolby" id="8"    ng-click="test(8)"></span>
	</li>

	<li>
	 <span class="glyphicon glyphicon-sound-dolby" id="9"    ng-click="test(9)"></span>
	</li>
	<li>
 <span class="glyphicon glyphicon-sound-dolby" id="10"    ng-click="test(10)"></span>
	</li>
	<li>
	 <span class="glyphicon glyphicon-sound-dolby" id="11"    ng-click="test(11)"></span>
	</li>
	<li>
	
</li>
	<li>
	</li>
	<li>
	</li>
	<li>
	</li>
	</ul>
	
	</p>
	
	 




	<p style="width:100%;">
	<ul>
	
	
		<li>
	</li>
		<li>
	</li>
		<li class="t23">
		2
	</li>
		<li>
	</li>
		<li>
	</li>
		<li>
		 <span class="glyphicon glyphicon-sound-dolby" id="12"    ng-click="test(12)"></span>
	</li>
		<li>
		 <span class="glyphicon glyphicon-sound-dolby" id="13"    ng-click="test(13)"></span>
	</li>
		<li>
		 <span class="glyphicon glyphicon-sound-dolby" id="14"    ng-click="test(14)"></span>
	</li>
	<li>
	 <span class="glyphicon glyphicon-sound-dolby" id="15"    ng-click="test(15)"></span>
	</li>
		<li>
		 <span class="glyphicon glyphicon-sound-dolby" id="16"    ng-click="test(16)"></span>
	</li>
		<li>
		 <span class="glyphicon glyphicon-sound-dolby" id="17"    ng-click="test(17)"></span>
	</li>
		<li>
		 <span class="glyphicon glyphicon-sound-dolby" id="18"    ng-click="test(18)"></span>
	</li>

	<li>
	 <span class="glyphicon glyphicon-sound-dolby" id="19"    ng-click="test(19)"></span>
	</li>
	<li>
	<span class="glyphicon glyphicon-sound-dolby" id="20"    ng-click="test(20)"></span>
	</li>
	<li>
	  <span class="glyphicon glyphicon-sound-dolby" id="21"    ng-click="test(21)"></span>
	</li>
	<li>
	 <span class="glyphicon glyphicon-sound-dolby" id="22"    ng-click="test(22)"></span>
	</li>
	<li>
	</li>
	<li>
	</li>
	<li>
	</li>
	<li>
	
	</li>
	</ul>
	
	</p>





	<p style="width:100%;">
	<ul>
		
	
		<li>
	</li>
		<li>
	</li>
	<li class="t23">
		3
	</li>
		<li>
	</li>
		<li>
	</li>
		<li>
	</li>
		<li>
	</li>
		<li>
	</li>
	<li>
	</li>
		<li>
	</li>
		<li>
	</li>
		<li>
	</li>
	<li>
	</li>
	<li>
	</li>
	<li>
	</li>
	<li>
	</li>
	<li>
	</li>
	<li>
	</li>
	<li>
	</li>
	<li>
	</li>
	</ul>
	
	</p>




	<p style="width:100%;">
	<ul>
		
	
		<li>
	</li>
		<li>
	</li>
	<li class="t23">
		4
	</li>
		<li>
	</li>
		<li>
	</li>
		<li>
		 <span class="glyphicon glyphicon-sound-dolby" id="23"    ng-click="test(23)"></span>
	</li>
		<li>
		 <span class="glyphicon glyphicon-sound-dolby" id="24"    ng-click="test(24)"></span>
	</li>
		<li>
		 <span class="glyphicon glyphicon-sound-dolby" id="25"    ng-click="test(25)"></span>
	</li>
	<li>
	 <span class="glyphicon glyphicon-sound-dolby" id="26"    ng-click="test(26)"></span>
	</li>
		<li>
		 <span class="glyphicon glyphicon-sound-dolby" id="27"    ng-click="test(27)"></span>
	</li>
		<li>
		 <span class="glyphicon glyphicon-sound-dolby" id="28"    ng-click="test(28)"></span>
	</li>
		<li>
		 <span class="glyphicon glyphicon-sound-dolby" id="29"    ng-click="test(29)"></span>
	</li>

	<li>
	 <span class="glyphicon glyphicon-sound-dolby" id="30"    ng-click="test(30)"></span>
	</li>
	<li>
	<span class="glyphicon glyphicon-sound-dolby" id="31"    ng-click="test(31)"></span>
	</li>
	<li>
	  <span class="glyphicon glyphicon-sound-dolby" id="32"    ng-click="test(32)"></span>
	</li>
	<li>
	 <span class="glyphicon glyphicon-sound-dolby" id="33"    ng-click="test(33)"></span>
	</li>
	<li>
	</li>
	<li>
	</li>
	<li>
	</li>
	<li>
	
	</li>
	</ul>
	
	</p>



	<p style="width:100%;">
	<ul>
		
	
		<li>
	</li>
		<li>
	</li>
	<li class="t23">
		5
	</li>
		<li>
	</li>
		<li>
	</li>
		<li>
		 <span class="glyphicon glyphicon-sound-dolby" id="34"    ng-click="test(34)"></span>
	</li>
		<li>
		 <span class="glyphicon glyphicon-sound-dolby" id="35"    ng-click="test(35)"></span>
	</li>
		<li>
		 <span class="glyphicon glyphicon-sound-dolby" id="36"    ng-click="test(36)"></span>
	</li>
	<li>
	 <span class="glyphicon glyphicon-sound-dolby" id="37"    ng-click="test(37)"></span>
	</li>
		<li>
		 <span class="glyphicon glyphicon-sound-dolby" id="38"    ng-click="test(38)"></span>
	</li>
		<li>
		 <span class="glyphicon glyphicon-sound-dolby" id="39"    ng-click="test(39)"></span>
	</li>
		<li>
		 <span class="glyphicon glyphicon-sound-dolby" id="40"    ng-click="test(40)"></span>
	</li>

	<li>
	 <span class="glyphicon glyphicon-sound-dolby" id="41"    ng-click="test(41)"></span>
	</li>
	<li>
	<span class="glyphicon glyphicon-sound-dolby" id="42"    ng-click="test(42)"></span>
	</li>
	<li>
	  <span class="glyphicon glyphicon-sound-dolby" id="43"    ng-click="test(43)"></span>
	</li>
	<li>
	 <span class="glyphicon glyphicon-sound-dolby" id="44"    ng-click="test(44)"></span>
	</li>
	<li>
	</li>
	<li>
	</li>
	<li>
	</li>
	<li>
	
	</li>
	</ul>
	
	</p>


		<p style="width:100%;">
	<ul>
	
	
		<li>
	</li>
		<li>
	</li>
		<li class="t23">
		6
	</li>
		<li>
	</li>
		<li>
	</li>
		<li>
	</li>
		<li>
	</li>
		<li>
	</li>
	<li>
	</li>
		<li>
	</li>
		<li>
	</li>
		<li>
	</li>




	
	<li>

	</li>
	<li>

	</li>
	<li>

	</li>
	<li>

	</li>
	<li>
	</li>
	<li>
	</li>
	<li>
	</li>
	<li>

	</li>
	</ul>
	
	</p>
	
	
	
		<p style="width:100%;">
	<ul>
	
	
		<li>
	</li>
		<li>
	</li>
		<li class="t23">
		7
	</li>
		<li>
	</li>
		<li>
	</li>
		<li>
	</li>
		<li>
	</li>
		<li>
	</li>
	<li>
	</li>
		<li>
	</li>
		<li>
	</li>
		<li>
	</li>




	
	<li>

	</li>
	<li>

	</li>
	<li>

	</li>
	<li>

	</li>
	<li>
	</li>
	<li>
	</li>
	<li>
	</li>
	<li>

	</li>
	</ul>
	
	</p>
	
	
	
		<p style="width:100%;">
	<ul>
	
	
		<li>
	</li>
		<li>
	</li>
		<li class="t23">
		8
	</li>
		<li>
	</li>
		<li>
	</li>
		<li>
	</li>
		<li>
	</li>
		<li>
	</li>
	<li>
	</li>
		<li>
	</li>
		<li>
	</li>
		<li>
	</li>




	
	<li>

	</li>
	<li>

	</li>
	<li>

	</li>
	<li>

	</li>
	<li>
	</li>
	<li>
	</li>
	<li>
	</li>
	<li>

	</li>
	</ul>
	
	</p>
	
	
	
		<p style="width:100%;">
	<ul>
	
	
		<li>
	</li>
		<li>
	</li>
		<li class="t23">
		9
	</li>
		<li>
	</li>
		<li>
	</li>
		<li>
		 <span class="glyphicon glyphicon-sound-dolby" id="45"    ng-click="test(45)"></span>
	</li>
		<li>
		 <span class="glyphicon glyphicon-sound-dolby" id="46"    ng-click="test(46)"></span>
	</li>
		<li>
		 <span class="glyphicon glyphicon-sound-dolby" id="47"    ng-click="test(47)"></span>
	</li>
	<li>
	 <span class="glyphicon glyphicon-sound-dolby" id="48"    ng-click="test(48)"></span>
	</li>
		<li>
		 <span class="glyphicon glyphicon-sound-dolby" id="49"    ng-click="test(49)"></span>
	</li>
		<li>
		 <span class="glyphicon glyphicon-sound-dolby" id="50"    ng-click="test(50)"></span>
	</li>
		<li>
		 <span class="glyphicon glyphicon-sound-dolby" id="51"    ng-click="test(51)"></span>
	</li>

	<li>
	 <span class="glyphicon glyphicon-sound-dolby" id="52"    ng-click="test(52)"></span>
	</li>
	<li>
	<span class="glyphicon glyphicon-sound-dolby" id="53"    ng-click="test(53)"></span>
	</li>
	<li>
	  <span class="glyphicon glyphicon-sound-dolby" id="54"    ng-click="test(54)"></span>
	</li>
	<li>
	 <span class="glyphicon glyphicon-sound-dolby" id="55"    ng-click="test(55)"></span>
	</li>
	<li>
	</li>
	<li>
	</li>
	<li>
	</li>
	<li>
	
	</li>
	</ul>
	
	</p>
	
	
	
		<p style="width:100%;">
	<ul>
		
	<li>
	</li>
		<li>
	</li>
	<li class="t23">
		10
	</li>
		<li>
	</li>
		<li>
	</li>
		<li>
		 <span class="glyphicon glyphicon-sound-dolby" id="56"    ng-click="test(56)"></span>
	</li>
		<li>
		 <span class="glyphicon glyphicon-sound-dolby" id="57"    ng-click="test(57)"></span>
	</li>
		<li>
		 <span class="glyphicon glyphicon-sound-dolby" id="58"    ng-click="test(58)"></span>
	</li>
	<li>
	 <span class="glyphicon glyphicon-sound-dolby" id="59"    ng-click="test(59)"></span>
	</li>
		<li>
		 <span class="glyphicon glyphicon-sound-dolby" id="60"    ng-click="test(60)"></span>
	</li>
		<li>
		 <span class="glyphicon glyphicon-sound-dolby" id="61"    ng-click="test(61)"></span>
	</li>
		<li>
		 <span class="glyphicon glyphicon-sound-dolby" id="62"    ng-click="test(62)"></span>
	</li>

	<li>
	 <span class="glyphicon glyphicon-sound-dolby" id="63"    ng-click="test(63)"></span>
	</li>
	<li>
	<span class="glyphicon glyphicon-sound-dolby" id="64"    ng-click="test(64)"></span>
	</li>
	<li>
	  <span class="glyphicon glyphicon-sound-dolby" id="65"    ng-click="test(65)"></span>
	</li>
	<li>
	 <span class="glyphicon glyphicon-sound-dolby" id="66"    ng-click="test(66)"></span>
	</li>
	<li>
	</li>
	<li>
	</li>
	<li>
	</li>
	<li>
	
	</li>
	</ul>
	
	</p>
	
	
	
		<p style="width:100%;">
	<ul>
	
	
		<li>
	</li>
		<li>
	</li>
		<li class="t23">
		11
	</li>
		<li>
	</li>
		<li>
	</li>
		<li>
	</li>
		<li>
	</li>
		<li>
	</li>
	<li>
	</li>
		<li>
	</li>
		<li>
	</li>
		<li>
	</li>




	
	<li>

	</li>
	<li>

	</li>
	<li>

	</li>
	<li>

	</li>
	<li>
	</li>
	<li>
	</li>
	<li>
	</li>
	<li>

	</li>
	</ul>
	
	</p>
	
	
		<p style="width:100%;">
	<ul>
	
	
		<li>
	</li>
	
		<li>
	</li>
		<li class="t23">
		12
	</li>
	<li>
	
	</li>
		<li>
	</li>
		<li>
		 <span class="glyphicon glyphicon-sound-dolby" id="67"    ng-click="test(67)"></span>
	</li>
		<li>
		 <span class="glyphicon glyphicon-sound-dolby" id="68"    ng-click="test(68)"></span>
	</li>
		<li>
		 <span class="glyphicon glyphicon-sound-dolby" id="69"    ng-click="test(69)"></span>
	</li>
	<li>
	 <span class="glyphicon glyphicon-sound-dolby" id="70"    ng-click="test(70)"></span>
	</li>
		<li>
		 <span class="glyphicon glyphicon-sound-dolby" id="71"    ng-click="test(71)"></span>
	</li>
		<li>
		 <span class="glyphicon glyphicon-sound-dolby" id="72"    ng-click="test(72)"></span>
	</li>
		<li>
		 <span class="glyphicon glyphicon-sound-dolby" id="73"    ng-click="test(73)"></span>
	</li>

	<li>
	 <span class="glyphicon glyphicon-sound-dolby" id="74"    ng-click="test(74)"></span>
	</li>
	<li>
	<span class="glyphicon glyphicon-sound-dolby" id="75"    ng-click="test(75)"></span>
	</li>
	<li>
	  <span class="glyphicon glyphicon-sound-dolby" id="76"    ng-click="test(76)"></span>
	</li>
	<li>
	 <span class="glyphicon glyphicon-sound-dolby" id="77"    ng-click="test(77)"></span>
	</li>
	<li>
	</li>
	<li>
	</li>
	<li>
	</li>
	
	</ul>
	
	</p>
	
	<p style="width:100%;">
	<ul >
	<li></li>
	<li></li>
	<li></li>
	<li class="t23">13</li>
    <li></li>
	  <li></li>
	<li class="t24">1</li>
	<li  class="t24">2</li>
	<li  class="t24">3</li>
	<li  class="t24">4</li>
	<li  class="t24">5</li>
	<li  class="t24">6</li>
	<li  class="t24">7</li>
	<li  class="t24">8</li>
	<li  class="t24">9</li>
	<li  class="t24">10</li>
	<li  class="t24">11</li>


	
	</ul>
	</p>
		<p style="width:100%;height:auto;">
		<div style="width:50%;margin-top:50px;float:left;text-align:center;font-size:15px;font-weight:bold;" ng-if="seat.location!=null">
		座位信息: {{seat.location}}
		</div>
		<div style="width:50%;margin-top:50px;float:right;text-align:center;font-size:15px;font-weight:bold;" ng-if="seat.name!=null">
		 姓名:{{seat.name}}
		</div>
	 
	</p>
	 
	

  </ion-view >
 </ion-content>