

			
			
	   <ion-view >
      <ion-content>
	       <ion-refresher pulling-text="" on-refresh="doRefresh()"></ion-refresher>
        <div class="content has-header ionic-pseudo">
          <div class="list">
        
            <h2 class="text-center">
          <img src="{{user.headportrait}}" style="width:100px;height:100px;border-radius:50%;">
            </h2>
 <div class="item item-avatar" ng-click="gotoupload()">
            <h2>
         头像上传
            </h2>

 </div>
		  
		
          <div class="item item-avatar" ng-click="gotouserdetail()">
            <h2 >详细资料</h2>
          </div>
          </div>
        </div>
      </ion-content>
    </ion-view>
		

  